<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vtuber 斗內</title>
</head>
<body>
    <h1>支持你的 Vtuber！</h1>
    <form action="/create_order" method="POST">
        <label for="amount">選擇金額：</label>
        <select name="TotalAmount" id="amount">
            <option value="50">50 NTD</option>
            <option value="100">100 NTD</option>
            <option value="500">500 NTD</option>
        </select>
        <br><br>
        <button type="submit">支持!</button>
    </form>
</body>
</html>
